%footer
  .container
    .col-sm-3
      %p
        &copy; 2015
        %a(href="http://opendata.durban") Open Data Durban
      %p
        %a(href="mailto:matthew@opendata.durban") matthew@opendata.durban

    .col-sm-3
      %a(href="http://opendata.durban", target="_blank")
        %img.logo(src="/public/images/ODD _ Banner Logo.jpg")

          -#.col-sm-6.text-right
          -#  %a(href="", target="_blank")
          -#    %img.logo(src="/public/images/.png")