%footer
  .container
    .col-sm-3
      %p
        &copy; 2016
        %a(href="http://opendata.durban") Open Data Durban
      %p
        %a(href="mailto:matthew@opendata.durban") matthew@opendata.durban

    -#.col-sm-3
    -#  %a(href="http://opendata.durban", target="_blank")
    -#    %img.logo(src="/public/images/ODDBannerLogo.jpg")