%%inherit(file="../layout.haml")
<%namespace file="../helpers/bootstrap_wtf.haml" import="*"/>

%%block(name="title")
  home

.row
  .outer.col-xs-12.col-lg-6.col-md-8.col-md-offset-3
    .maintile
      %div
        %br/
        %br/
        %a REGISTERED
        %p Check if your surgeon is registered
        %br/
        %br/
.row
%br/
  .outer.col-xs-6.col-lg-3.col-md-4.col-md-offset-3
    .maintile
      %div
        %a REPORT
        %p Report illegal surgeons or initiation schools
  .outer.col-xs-6.col-md-4.col-lg-3
    .maintile
      %div
        %a GET HELP
        %p Hotline for initates who are in trouble
.row
  %br/
  .outer.col-xs-6.col-lg-3.col-md-4.col-md-offset-3
    .maintile
      %div
        %a FIND
        %p Find your nearest surgeon or initiation school.
  .outer.col-xs-6.col-md-4.col-lg-3
    .maintile
      %div
        %a GET LEGAL
        %p Do you want to register as a surgeon?
%br/