<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <link href="/static/css/new.css" rel="stylesheet">
    <!-- Custom Fonts -->
     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
 <nav class="navbar navbar-default navbar-fixed-top col-xs-12 col-lg-6 col-md-8 col-md-offset-3">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">Ezolwaluko<br/><p>Initiation Watch Beta</p></a>
        </div>
        <div class="nav collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                 <li> <a href="/en">English</a></li>
                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Fumanisa
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('widgets')}}">Ingaba ingcibi yakho ibhalisiwe ngokwasemthethweni?</a></li>
            </ul>
                </li>
                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Sebenzisa
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('initiates_home')}}">Ingaba unomkhwetha omaziyo osengxakini okanye ebungozini?</a></li>
            </ul>
                </li>
                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Cofa
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('surgeons_register')}}">Chaza ingcibi engekhosemthethweni</a></li>
            </ul>
                </li>
                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Khangela
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('locator')}}">Igcibi ibhalisa apha</a></li>
            </ul>
                </li>

                 <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Fumana
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('locator')}}">Fumana ingcibi apha</a></li>
            </ul>
                </li>

                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Ulwazi
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('about')}}">Ulwazi malunga nalomba</a></li>
            </ul>
                </li>




                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Contact
               <b class = "caret"></b>
            </a>

                    <ul class = "dropdown-menu">
               <li><a href = "{{url_for('contact')}}">Bhala inombolo ze fowuni</a></li>
            </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



    <div class="col-sm-2 col-xs-5 col-lg-1">
    	<div id="tile1" class="tile">
    	</div>


</div>
<br/>
<br/>

    <div class="container dynamicTile">
        <br/><br/><br/>
         <div class="row">
	<div class="col-sm-12">
		<div id="tile10" class="tile">

           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h3 class="tilecaption"><a href="{{url_for('widgets')}}">Fumanisa</a></h3>
                <h2 class="tilecaption">apha ukuba ingcibi yakho ibhaliswe ngokusemthethweni na?</h2>
            </div>


          </div>
        </div>

		</div>
	</div>
        </div>
        <br/>
        <div class="row">
	<div class="col-xs-6 col-lg-6 col-md-8">
		<div id="tile10" class="tile">

           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <h3 class="tilecaption"><a href="{{url_for('reports_home')}}">Chaza</a></h3>
                <h2 class="tilecaption">ibhoma elingekho semthethweni apha.</h2>
            </div>
          </div>
        </div>

		</div>
	</div>
	<div class="col-xs-6 col-lg-6 col-md-8">
		<div id="tile10" class="tile">

           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <h3 class="tilecaption"><a href="{{url_for('initiates_home')}}">Sebenzisa</a></h3>
                <h2 class="tilecaption">lenombholo ye fowuni ukunceda umkhwetha osengxakini.</h2>
            </div>
          </div>
        </div>

		</div>
	</div>
        </div>
        <br/>
        <div class="row">
	<div class="col-xs-6 col-lg-6 col-md-8">
		<div id="tile10" class="tile">
           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h3 class="tilecaption"><a href="{{url_for('locator')}}">Khangela</a></h3>
                <h2 class="tilecaption">ingcibi okanye ibhoma elikufuphi nawe.</h2>
            </div>
          </div>
        </div>

		</div>
	</div>

	<div class="col-xs-6 col-lg-6 col-md-8">
        <div id="tile10" class="tile">
           <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h3 class="tilecaption"><a href="{{url_for('surgeons_register')}}">Cofa</a></h3>
                <h2 class="tilecaption">apha xa ufuna ukubhaliswa nje ngengcibi esemthethweni</h2>
            </div>
          </div>
        </div>
	</div>
                </div>
        </div>
        </div>
<br/>
<footer class="footer-basic-centered col-xs-12 col-lg-8 col-md-8 col-md-offset-2">
    <br/>
      <div class="footer-basic-centered footer-company-motto"><a href="http://city-press.news24.com/"><img src="/static/img/logo.png" /></a></div><br/>
	<a href="#">Terms of Use</a>
				·
				<a href="#">FAQs</a>
				·
				<a href="#">About this tool</a>
        </p>

    </footer>
    <!-- jQuery -->
<script src="/static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<script src="/static/js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/freelancer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/google-sheet.js"></script>
<script>
$( document ).ready(function() {
    $(".tile").height($("#tile1").width());
    $(".carousel").height($("#tile10").width());
     $(".item").height($("#tile1").width());

    $(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
	this.resizeTO = setTimeout(function() {
		$(this).trigger('resizeEnd');
	}, 10);
    });

    $(window).bind('resizeEnd', function() {
    	$(".tile").height($("#tile1").width());
        $(".carousel").height($("#tile1").width());
        $(".item").height($("#tile1").width());
    });

});
</script>
</body>
</html>